html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-image: url("/img/background.png");
  font-size: 62.5%;
}
#collapse {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: #ECECEC;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  transition: max-height 0.2s ease-out;
}
#collapse div {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: #ECECEC;
  background-color: #5B5656;
  padding: 20px;
  box-shadow: 0px 10px 10px 0px black;
  border: 2px solid grey;
}
#collapse div a {
  text-decoration: none;
  color: #ECECEC;
}
#collapse div a:hover {
  color: #38cfb1;
}
#collapse div .current {
  color: #38cfb1;
  background-color: #4D4646;
}
#nav-button {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 2.3rem;
  padding: 5px;
  color: #F2A365;
  border: 3px solid #4D4646;
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 10px;
  width: 50px;
  background-color: #38cfb1;
  z-index: 100;
  -webkit-text-stroke: 2px #5B5656;
}
#nav-button:hover {
  box-shadow: inset 0 0 10px #000000;
}
#header-cont {
  box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.75);
  background: #4D4646;
  height: 100px;
}
#header-cont div img {
  display: flex;
  margin: 0 auto;
}
#main-cont {
  margin-top: 30px;
}
#main-cont div {
  border: 4px solid #38cfb1;
  margin: 0 auto;
  width: 250px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #5B5656;
  color: white;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 20px;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 15px;
  box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.75);
}
#main-cont h1 {
  text-align: center;
  color: #F2A365;
  font-size: 1.4rem;
  padding: 10px;
}
#main-cont p {
  padding: 20px;
}
#main-cont img {
  border: 4px solid #F2A365;
}
#main-cont a {
  text-align: right;
  text-decoration: none;
  color: #F2A365;
}
.footer {
  background: #4D4646;
  color: #F2A365;
  text-align: center;
}
.footer a {
  font-size: 1.6rem;
}
.footer p {
  font-size: 1.3rem;
}
#main-cont-about {
  margin-top: 30px;
}
#main-cont-about div {
  border: 4px solid #38cfb1;
  margin: 0 auto;
  width: 250px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #5B5656;
  color: white;
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 20px;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 15px;
  box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.75);
}
#main-cont-about h1 {
  text-align: center;
  color: #F2A365;
  font-size: 1.4rem;
  padding: 10px;
}
#main-cont-about h2 {
  text-align: center;
  color: #38cfb1;
}
#main-cont-about p {
  padding: 20px;
  text-align: center;
  opacity: 40%;
}
#main-cont-about img {
  border: 4px solid #F2A365;
  border-radius: 100%;
}
#main-cont-about a {
  text-align: right;
  text-decoration: none;
  color: #F2A365;
}
